footer {
    background: $quaternaryColour;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    p {
        text-transform: capitalize;
        text-align: center;
        margin: 5px 0;
        color: $accentColour;
    }
}