// Footer content styles starts here
footer {
    border-top: 2px solid $primaryColour;
    background: $quaternaryColour;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    p {
        text-transform: capitalize;
        margin: 0;
        font-size: 0.8rem;
        text-align: center;
        color: $accentColour;
        @media (max-width: 520px) {
            font-size: 0.7rem;
        }
    }
}
// Footer content styles ends here