// Global content styles starts here
html {
    font-size: 125%
}
body {
    background: $tertiaryColour;
}
ol,
ul {
    margin: 0;
    padding: 0;
}
p {
    font-family: 'Space Mono', monospace;
}
ul li {
    list-style-type: none;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
//Sweet alert content styles starts here
.swal2-container {
    font-family: 'Space Mono', monospace;
    .swal2-title {
        margin-bottom: 5px;
        color: $accentColour;
        @media (max-width: 690px) {
            font-size: 1.5rem;
        }
        @media (max-width: 465px) {
            font-size: 1.3rem;
        }
    }
    .swal2-popup {
        background: $tertiaryColour;
        border: 10px solid $quaternaryColour;
        @media (max-width: 690px) {
            padding: 10px;
        }
    }
    .swal2-content {
        p {
            text-align: left;
            margin: 5px 0;
            color: $accentColour;
            @media (max-width: 690px) {
                font-size: 1rem;
            }
            @media (max-width: 470px) {
                font-size: 0.8rem;
            }
        }
    }
    .swal2-actions {
        margin-top: 5px;
        button {
            font-family: 'Wallpoet', cursive;
            background-color: $quinaryColour;
            border: 1px solid $primaryColour;
            @media (max-width: 690px) {
                font-size: 0.9rem;
            }
            &:hover,
            &:focus {
                box-shadow: 0 5px 5px $primaryColour;
                text-shadow: 1px 1px 1px $accentColour;
                color: $secondaryColour;
                @media (max-width: 500px) {
                    color: $accentColour;
                    box-shadow: none;
                    text-shadow: none;
                }
            }
        }
    }
    
}
// Sweet Alert content ends here
// Global content styles ends here