html {
    font-size: 125%
}
body {
    font-family: 'Space Mono', monospace;
    background: $tertiaryColour;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}