// Header content styles starts here
header {
    .wrapper {
        display: flex;
        align-items: center;
        padding-top: 20px;
        h1 {
            font-size: 2.3rem;
            text-align: center;
            text-transform: capitalize;
            font-family: "Wallpoet", cursive;
            margin: 0;
            flex: 2 auto;
            @media (max-width: 675px) {
                font-size: 1.8rem;
            }
            @media (max-width: 520px) {
                font-size: 1.5rem;
            }
            @media (max-width: 450px) {
                font-size: 1.3rem;
            }
            @media (max-width: 390px) {
                font-size: 1.1rem;
            }
        }
        .fa-dice {
            color: $secondaryColour;
            animation: swing;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            @media (prefers-reduced-motion: reduce) {
                animation: none;
            }
        }
        .instructionsMenuIcon {
            display: block;
            font-size: 1.6rem;
            padding: 0 5px;
            border: none;
            background: none;
            transition: color 0.5s ease-out;
            position: absolute;
            right: 5%;
            z-index: 20;
            animation: pulse;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-delay: 5s;
            @media (prefers-reduced-motion: reduce) {
                animation: none;
            }
            @media(max-width: 340px) {
                position: initial;
            }
            &:hover,
            &:focus {
                color: $secondaryColour;
                @media (max-width: 500px) {
                    color: $primaryColour;
                }
            }
        }
        .fa-bars {
            @media (max-width: 520px) {
                font-size: 1.2rem;
                right: 3%;
            }
            @media (max-width: 350px) {
                font-size: 1rem;
                right: 0;
            }
        }
        .fa-times {
            color: $accentColour;
            transition: color 0.3s ease-out;
            padding: 3px;
            &:hover,
            &:focus {
                color: $secondaryColour;
                @media (max-width: 500px) {
                    color: $accentColour;
                }
            }
        }
    }
    .instructionsMenu {
        display: none;
        color: $accentColour;
        padding: 0 15%;
        h2 {
            text-align: center;
            font-size: 2.1rem;
            @media (max-width: 675px) {
                font-size: 1.8rem;
            }
            @media (max-width: 420px) {
                font-size: 1.4rem;
            }
        }
        .steps {
            margin-top: 50px;
            @media (max-width: 570px) {
                margin-top: 25px;
            }
        }
        .steps p{
            text-align: left;
            font-size: 1.1rem;
            margin-top: 0;
            @media (max-width: 1000px) {
                font-size: 1rem;
                margin-bottom: 10px;
            }
            @media (max-width: 690px) {
                font-size: 0.9rem;
            }
            @media (max-width: 520px) {
                font-size: 0.8rem;
            }
            @media (max-width: 420px) {
                font-size: 0.7rem;
            }
            &:first-letter {
                text-transform: capitalize;
            }
        }
    }
    .showInstructionsMenu {
        z-index: 10;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.9);
        animation: fadeInDown;
        animation-duration: 0.5s;
    }
    
}
// Header content styles ends here