// Main content styles starts here
main {
    .wrapper {
        overflow: hidden;
    }
    .diceGrid {
        min-height: 300px;
        display: grid;
        justify-items: center;
        align-items: center;
        margin: 0 15%;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        grid-template-rows: auto;
        @media (max-width: 592px) {
            grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
            grid-gap: 2%;
            min-height: 280px;
        }
        @media (max-width: 486px) {
            min-height: 300px;
        }
        @media (max-width: 358px) {
            margin: 10px 0;
        }
        .startScreenDice {
            width: 125px;
            height: 125px;
            animation: bounceInDown;
            animation-duration: 5s;
            @media (prefers-reduced-motion: reduce) {
                animation: none;
            }
            @media (max-width: 1115px) {
                width: 100px;
                height: 100px;
            }
            @media (max-width: 592px) {
                width: 75px;
                height: 75px;
            }
        }
    }
    .dice {
        border: 1px solid $primaryColour;
        background: $secondaryColour;
        width: 120px;
        height: 120px;
        position: relative;
        animation: bounceInDown;
        animation-duration: 0.3s;
        @media (prefers-reduced-motion: reduce) {
            animation: none;
        }
        @media (max-width: 990px) {
            width: 100px;
            height: 100px;
        }
        @media (max-width: 592px) {
            width: 75px;
            height: 75px;
        }
    }
    .startDice {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(-60px); 
        transform-style: preserve-3d;
        transition: transform 1s;
        @media (max-width: 1115px) {
            transform: translateZ(-49px);
        }
        @media (max-width: 592px) {
            transform: translateZ(-35px);
        }
    }
    .diceFace {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .dot1,
    .dot2,
    .dot3,
    .dot4,
    .dot5,
    .dot6 {
        background: $accentColour;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        position: absolute;
        @media (max-width: 990px) {
            width: 20px;
            height: 20px;
        }
        @media (max-width: 592px) {
            width: 15px;
            height: 15px;
        }
    }
    .diceFace1 {
        .dot1 {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .diceFace2 {
        .dot1 {
            top: 15%;
            left: 15%;
            transform: translate(-15%, -15%);
        }
        .dot2 {
            bottom: 15%;
            right: 15%;
            transform: translate(15%, 15%);
        }
    }
    .diceFace3 {
        .dot1 {
            top: 10%;
            left: 10%;
            transform: translate(-10%, -10%);
        }
        .dot2 {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .dot3 {
            right: 10%;
            bottom: 10%;
            transform: translate(10%, 10%);
        }
    }
    .diceFace4 {
        span:nth-child(odd) {
            left: 10%;
        }
        span:nth-child(even) {
            right: 10%;
        }
        .dot1,
        .dot2 {
            top: 10%;
        }
        .dot1 {
            transform: translate(-10%, -10%);
        }
        .dot2 {
            transform: translate(10%, -10%);
        }
        .dot3,
        .dot4 {
            bottom: 10%;
        }
        .dot3 {
            transform: translate(-10%, 10%);
        }
        .dot4 {
            transform: translate(10%, 10%);
        }
    }
    .diceFace5 {
        .dot1,
        .dot2 {
            top: 10%;
        }
        .dot1 {
            left: 10%;
            transform: translate(-10%, -10%);
        }
        .dot2 {
            right: 10%;
            transform: translate(10%, -10%);
        }
        .dot3 {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .dot4,
        .dot5 {
            bottom: 10%;
        }
        .dot4 {
            left: 10%;
            transform: translate(-10%, 10%);
        }
        .dot5 {
            right: 10%;
            transform: translate(10%, 10%);
        }
    }
    .diceFace6 {
        span:nth-child(odd) {
            left: 10%;
        }
        span:nth-child(even) {
            right: 10%;
        }
        .dot1,
        .dot2 {
            top: 10%;
        }
        .dot1 {
            transform: translate(-10%, -10%);
        }
        .dot2 {
            transform: translate(10%, -10%);
        }
        .dot3,
        .dot4 {
            top: 50%;
        }
        .dot3 {
            transform: translate(-10%, -50%);
        }
        .dot4 {
            transform: translate(10%, -50%);
        }
        .dot5,
        .dot6 {
            top: 90%;
        }
        .dot5 {
            transform: translate(-10%, -90%);
        }
        .dot6 {
            transform: translate(10%, -90%);
        }
    }
    .startDiceFace1,
    .startDiceFace2,
    .startDiceFace3,
    .startDiceFace4,
    .startDiceFace5,
    .startDiceFace6 {
        border: 1px solid $primaryColour;
        background: $secondaryColour;
        .dot1,
        .dot2,
        .dot3,
        .dot4,
        .dot5,
        .dot6 {
            @media (max-width: 1115px) {
                width: 20px;
                height: 20px;
            }
            @media (max-width: 592px) {
                width: 15px;
                height: 15px;
            }
        }
    }
    .startDiceFace1 {
        @extend .diceFace1;
        transform: rotateY(0deg) translateZ(60px);
        @media (max-width: 1115px) {
            transform: rotateY(0deg) translateZ(49px);
        }
        @media (max-width: 592px) {
            transform: rotateY(0deg) translateZ(35px);
        }
    }
    .startDiceFace2 {
        @extend .diceFace2;
        transform: rotateY(90deg) translateZ(60px);
        @media (max-width: 1115px) {
            transform: rotateY(90deg) translateZ(49px);
        }
        @media (max-width: 592px) {
            transform: rotateY(90deg) translateZ(35px);
        }
    }
    .startDiceFace3 {
        @extend .diceFace3;
        transform: rotateX(90deg) translateZ(60px);
        @media (max-width: 1115px) {
            transform: rotateX(90deg) translateZ(49px);
        }
        @media (max-width: 592px) {
            transform: rotateX(90deg) translateZ(35px);
        }
    }
    .startDiceFace4 {
        @extend .diceFace4;
        transform: rotateX(-90deg) translateZ(60px);
        @media (max-width: 1115px) {
            transform: rotateX(-90deg) translateZ(49px);
        }
        @media (max-width: 592px) {
            transform: rotateX(-90deg) translateZ(35px);
        }
    }
    .startDiceFace5 {
        @extend .diceFace5;
        transform: rotateY(-90deg) translateZ(60px);
        @media (max-width: 1115px) {
            transform: rotateY(-90deg) translateZ(49px);
        }
        @media (max-width: 592px) {
            transform: rotateY(-90deg) translateZ(35px);
        } 
    }
    .startDiceFace6 {
        @extend .diceFace6;
        transform: rotateY(180deg) translateZ(60px);
        @media (max-width: 1115px) {
            transform: rotateY(180deg) translateZ(49px);
        }
        @media (max-width: 592px) {
            transform: rotateY(180deg) translateZ(35px);
        }
    }
    .showStartDiceFace1  { 
        transform: translateZ(-60px) rotateY(0deg);
        @media (max-width: 1115px) {
            transform: translateZ(-49px) rotateY(0deg);
        }
        @media (max-width: 592px) {
            transform: translateZ(-35px) rotateY(0deg);
        } 
    }
    .showStartDiceFace2  { 
        transform: translateZ(-60px) rotateY(-90deg);
        @media (max-width: 1115px) {
            transform: translateZ(-49px) rotateY(-90deg);
        }
        @media (max-width: 592px) {
            transform: translateZ(-35px) rotateY(-90deg);
        }
    }
    .showStartDiceFace3  { 
        transform: translateZ(-60px) rotateX(-90deg);
        @media (max-width: 1115px) {
            transform: translateZ(-49px) rotateX(-90deg);
        }
        @media (max-width: 592px) {
            transform: translateZ(-35px) rotateX(-90deg);
        } 
    }
    .showStartDiceFace4  { 
        transform: translateZ(-60px) rotateX(90deg); 
        @media (max-width: 1115px) {
            transform: translateZ(-49px) rotateX(90deg);
        }
        @media (max-width: 592px) {
            transform: translateZ(-35px) rotateX(90deg);
        }
    }
    .showStartDiceFace5  { 
        transform: translateZ(-60px) rotateY(90deg);
        @media (max-width: 1115px) {
            transform: translateZ(-49px) rotateY(90deg);
        }
        @media (max-width: 592px) {
            transform: translateZ(-35px) rotateY(90deg);
        } 
    }
    .showStartDiceFace6  { 
        transform: translateZ(-60px) rotateY(-180deg);
        @media (max-width: 1115px) {
            transform: translateZ(-49px) rotateY(-180deg);
        }
        @media (max-width: 592px) {
            transform: translateZ(-35px) rotateY(-180deg);
        } 
    }
    
    .playButtons {
        display: grid;
        margin-bottom: 10px;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: 70px;
        grid-gap: 1%;
        @media (max-width: 470px) {
            grid-gap: 5%;
            grid-auto-rows: 60px;
            padding-bottom: 10px;
        }
        .start, 
        .rollNewDice,
        .stand,
        .bet {
            text-transform: uppercase;
            letter-spacing: 2px;
            background: $quinaryColour;
            color: $accentColour;
            border: 1px solid $primaryColour;
            font-size: 1.2rem;
            font-family: 'Wallpoet', cursive;
            transition: box-shadow 0.5s ease-in-out, text-shadow 0.5s ease-in;
            @media (max-width: 605px) {
                font-size: 1rem;
            }
            @media (max-width: 470px) {
                font-size: 0.9rem;
            }
            &:hover,
            &:focus {
                box-shadow: 0 5px 5px $primaryColour;
                text-shadow: 2px 2px 1px $primaryColour;
                @media (max-width: 500px) {
                    color: $accentColour;
                    box-shadow: none;
                    text-shadow: none;
                }
            }
        }
        .rollNewDice,
        .stand,
        .bet {
            display: none;
        }
        .start {
            grid-column: 5 / span 4;
            animation: pulse;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            @media (prefers-reduced-motion: reduce) {
                animation: none;
            }
            @media (max-width: 605px) {
                grid-column: 4 / span 6;
            }
        }
        .rollNewDice {
            grid-column: 4 / span 3;
            @media (max-width: 1135px) {
                grid-column: 3 / span 4;
            }
            @media (max-width: 840px) {
                grid-column: 2 / span 5;
            }
            @media (max-width: 680px) {
                grid-column: 2 / span 6;
            }
            @media (max-width: 470px) {
                grid-column: 4 / span 6;
            }
            &:hover {
                cursor: url(../assets/diceCursor.png), auto;
                @media (max-width: 500px) {
                    cursor: pointer;
                }
            }
        }
        .stand {
            grid-column: 5 / span 4;
            @media (max-width: 840px) {
                grid-column: 4 / span 6;
            }
            @media (max-width: 470px) {
                grid-column: 4 / span 6;
            }
        }
        .bet {
            grid-column: 7 / span 3;
            @media (max-width: 1135px) {
                grid-column: 7 / span 4;
            }
            @media (max-width: 840px) {
                grid-column: 7 / span 5;
            }
            @media (max-width: 680px) {
                grid-column: 8 / span 4;
            }
            @media (max-width: 470px) {
                grid-column: 4 / span 6;
            }
        }
        .showPlayButton {
            display: block;
        }
        .hideStartButton {
            display: none;
        }
    }
    .userScoreIndicator {
        p {
            margin: 0 0 5px;
            text-align: center;
            font-family: 'Space Mono', monospace;
            font-size: 1.2rem;
            text-transform: uppercase;
            @media (max-width: 605px) {
                font-size: 0.9rem;
            }
        }
    }
    .userMoneyIndicator {
        display: none;
        @extend .userScoreIndicator;
    }
    .showUserMoneyIndicator {
        display: block;
    }
}
// Main content styles ends here