article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }

body {
  background: #447020; }

ol,
ul {
  margin: 0;
  padding: 0; }

p {
  font-family: 'Space Mono', monospace; }

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

.swal2-container {
  font-family: 'Space Mono', monospace; }
  .swal2-container .swal2-title {
    margin-bottom: 5px;
    color: #FFFFFF; }
    @media (max-width: 690px) {
      .swal2-container .swal2-title {
        font-size: 1.5rem; } }
    @media (max-width: 465px) {
      .swal2-container .swal2-title {
        font-size: 1.3rem; } }
  .swal2-container .swal2-popup {
    background: #447020;
    border: 10px solid #49270c; }
    @media (max-width: 690px) {
      .swal2-container .swal2-popup {
        padding: 10px; } }
    .swal2-container .swal2-popup .swal2-image {
      margin: 0 auto; }
  .swal2-container .swal2-content .swal2-input {
    color: #FFFFFF;
    background: #171A21;
    border: 1px solid #070707; }
  .swal2-container .swal2-content .swal2-input {
    margin: 10px auto; }
  .swal2-container .swal2-content .swal2-validation-message {
    background: #447020;
    color: #FFFFFF; }
  .swal2-container .swal2-content p {
    text-align: left;
    margin: 5px 0;
    color: #FFFFFF; }
    @media (max-width: 690px) {
      .swal2-container .swal2-content p {
        font-size: 1rem; } }
    @media (max-width: 470px) {
      .swal2-container .swal2-content p {
        font-size: 0.8rem; } }
  .swal2-container .swal2-content .newGame {
    text-align: center; }
  .swal2-container .swal2-actions {
    margin-top: 5px; }
    .swal2-container .swal2-actions button {
      font-family: 'Wallpoet', cursive;
      background-color: #171A21;
      border: 1px solid #070707; }
      @media (max-width: 690px) {
        .swal2-container .swal2-actions button {
          font-size: 0.9rem; } }
      .swal2-container .swal2-actions button:hover, .swal2-container .swal2-actions button:focus {
        -webkit-box-shadow: 0 5px 5px #070707;
        box-shadow: 0 5px 5px #070707;
        text-shadow: 1px 1px 1px #FFFFFF;
        color: #690500; }
        @media (max-width: 500px) {
          .swal2-container .swal2-actions button:hover, .swal2-container .swal2-actions button:focus {
            color: #FFFFFF;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-shadow: none; } }

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px; }
  header .wrapper h1 {
    font-size: 2.3rem;
    text-align: center;
    text-transform: capitalize;
    font-family: "Wallpoet", cursive;
    margin: 0;
    -webkit-box-flex: 2;
    -ms-flex: 2 auto;
    flex: 2 auto; }
    @media (max-width: 675px) {
      header .wrapper h1 {
        font-size: 1.8rem; } }
    @media (max-width: 520px) {
      header .wrapper h1 {
        font-size: 1.5rem; } }
    @media (max-width: 450px) {
      header .wrapper h1 {
        font-size: 1.3rem; } }
    @media (max-width: 390px) {
      header .wrapper h1 {
        font-size: 1.1rem; } }
  header .wrapper .fa-dice {
    color: #690500;
    -webkit-animation: swing;
    animation: swing;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
    @media (prefers-reduced-motion: reduce) {
      header .wrapper .fa-dice {
        -webkit-animation: none;
        animation: none; } }
  header .wrapper .instructionsMenuIcon {
    display: block;
    font-size: 1.6rem;
    padding: 0 5px;
    border: none;
    background: none;
    -webkit-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
    position: absolute;
    right: 5%;
    z-index: 20;
    -webkit-animation: pulse;
    animation: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 5s;
    animation-delay: 5s; }
    @media (prefers-reduced-motion: reduce) {
      header .wrapper .instructionsMenuIcon {
        -webkit-animation: none;
        animation: none; } }
    @media (max-width: 340px) {
      header .wrapper .instructionsMenuIcon {
        position: initial; } }
    header .wrapper .instructionsMenuIcon:hover, header .wrapper .instructionsMenuIcon:focus {
      color: #690500; }
      @media (max-width: 500px) {
        header .wrapper .instructionsMenuIcon:hover, header .wrapper .instructionsMenuIcon:focus {
          color: #070707; } }
  @media (max-width: 520px) {
    header .wrapper .fa-bars {
      font-size: 1.2rem;
      right: 3%; } }
  @media (max-width: 350px) {
    header .wrapper .fa-bars {
      font-size: 1rem;
      right: 0; } }
  header .wrapper .fa-times {
    color: #FFFFFF;
    -webkit-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    padding: 3px; }
    header .wrapper .fa-times:hover, header .wrapper .fa-times:focus {
      color: #690500; }
      @media (max-width: 500px) {
        header .wrapper .fa-times:hover, header .wrapper .fa-times:focus {
          color: #FFFFFF; } }

header .instructionsMenu {
  display: none;
  color: #FFFFFF;
  padding: 0 15%; }
  header .instructionsMenu h2 {
    text-align: center;
    font-size: 2.1rem; }
    @media (max-width: 675px) {
      header .instructionsMenu h2 {
        font-size: 1.8rem; } }
    @media (max-width: 420px) {
      header .instructionsMenu h2 {
        font-size: 1.4rem; } }
  header .instructionsMenu .steps {
    margin-top: 50px; }
    @media (max-width: 570px) {
      header .instructionsMenu .steps {
        margin-top: 25px; } }
  header .instructionsMenu .steps p {
    text-align: left;
    font-size: 1.1rem;
    margin-top: 0; }
    @media (max-width: 1000px) {
      header .instructionsMenu .steps p {
        font-size: 1rem;
        margin-bottom: 10px; } }
    @media (max-width: 690px) {
      header .instructionsMenu .steps p {
        font-size: 0.9rem; } }
    @media (max-width: 520px) {
      header .instructionsMenu .steps p {
        font-size: 0.8rem; } }
    @media (max-width: 420px) {
      header .instructionsMenu .steps p {
        font-size: 0.7rem; } }
    header .instructionsMenu .steps p:first-letter {
      text-transform: capitalize; }

header .showInstructionsMenu {
  z-index: 10;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-animation: fadeInDown;
  animation: fadeInDown;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }

main .wrapper {
  overflow: hidden; }

main .diceGrid {
  min-height: 300px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 15%;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto; }
  @media (max-width: 592px) {
    main .diceGrid {
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      grid-gap: 2%;
      min-height: 280px; } }
  @media (max-width: 486px) {
    main .diceGrid {
      min-height: 300px; } }
  @media (max-width: 358px) {
    main .diceGrid {
      margin: 10px 0; } }
  main .diceGrid .startScreenDice {
    width: 125px;
    height: 125px;
    -webkit-animation: bounceInDown;
    animation: bounceInDown;
    -webkit-animation-duration: 5s;
    animation-duration: 5s; }
    @media (prefers-reduced-motion: reduce) {
      main .diceGrid .startScreenDice {
        -webkit-animation: none;
        animation: none; } }
    @media (max-width: 1115px) {
      main .diceGrid .startScreenDice {
        width: 100px;
        height: 100px; } }
    @media (max-width: 592px) {
      main .diceGrid .startScreenDice {
        width: 75px;
        height: 75px; } }

main .dice {
  border: 1px solid #070707;
  background: #690500;
  width: 120px;
  height: 120px;
  position: relative;
  -webkit-animation: bounceInDown;
  animation: bounceInDown;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    main .dice {
      -webkit-animation: none;
      animation: none; } }
  @media (max-width: 990px) {
    main .dice {
      width: 100px;
      height: 100px; } }
  @media (max-width: 592px) {
    main .dice {
      width: 75px;
      height: 75px; } }

main .startDice {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(-60px);
  transform: translateZ(-60px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  @media (max-width: 1115px) {
    main .startDice {
      -webkit-transform: translateZ(-49px);
      transform: translateZ(-49px); } }
  @media (max-width: 592px) {
    main .startDice {
      -webkit-transform: translateZ(-35px);
      transform: translateZ(-35px); } }

main .diceFace {
  width: 100%;
  height: 100%;
  position: absolute; }

main .dot1,
main .dot2,
main .dot3,
main .dot4,
main .dot5,
main .dot6 {
  background: #FFFFFF;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute; }
  @media (max-width: 990px) {
    main .dot1,
    main .dot2,
    main .dot3,
    main .dot4,
    main .dot5,
    main .dot6 {
      width: 20px;
      height: 20px; } }
  @media (max-width: 592px) {
    main .dot1,
    main .dot2,
    main .dot3,
    main .dot4,
    main .dot5,
    main .dot6 {
      width: 15px;
      height: 15px; } }

main .diceFace1 .dot1, main .startDiceFace1 .dot1 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

main .diceFace2 .dot1, main .startDiceFace2 .dot1 {
  top: 15%;
  left: 15%;
  -webkit-transform: translate(-15%, -15%);
  -ms-transform: translate(-15%, -15%);
  transform: translate(-15%, -15%); }

main .diceFace2 .dot2, main .startDiceFace2 .dot2 {
  bottom: 15%;
  right: 15%;
  -webkit-transform: translate(15%, 15%);
  -ms-transform: translate(15%, 15%);
  transform: translate(15%, 15%); }

main .diceFace3 .dot1, main .startDiceFace3 .dot1 {
  top: 10%;
  left: 10%;
  -webkit-transform: translate(-10%, -10%);
  -ms-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%); }

main .diceFace3 .dot2, main .startDiceFace3 .dot2 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

main .diceFace3 .dot3, main .startDiceFace3 .dot3 {
  right: 10%;
  bottom: 10%;
  -webkit-transform: translate(10%, 10%);
  -ms-transform: translate(10%, 10%);
  transform: translate(10%, 10%); }

main .diceFace4 span:nth-child(odd), main .startDiceFace4 span:nth-child(odd) {
  left: 10%; }

main .diceFace4 span:nth-child(even), main .startDiceFace4 span:nth-child(even) {
  right: 10%; }

main .diceFace4 .dot1, main .startDiceFace4 .dot1,
main .diceFace4 .dot2,
main .startDiceFace4 .dot2 {
  top: 10%; }

main .diceFace4 .dot1, main .startDiceFace4 .dot1 {
  -webkit-transform: translate(-10%, -10%);
  -ms-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%); }


main .diceFace4 .dot2,
main .startDiceFace4 .dot2 {
  -webkit-transform: translate(10%, -10%);
  -ms-transform: translate(10%, -10%);
  transform: translate(10%, -10%); }

main .diceFace4 .dot3, main .startDiceFace4 .dot3,
main .diceFace4 .dot4,
main .startDiceFace4 .dot4 {
  bottom: 10%; }

main .diceFace4 .dot3, main .startDiceFace4 .dot3 {
  -webkit-transform: translate(-10%, 10%);
  -ms-transform: translate(-10%, 10%);
  transform: translate(-10%, 10%); }


main .diceFace4 .dot4,
main .startDiceFace4 .dot4 {
  -webkit-transform: translate(10%, 10%);
  -ms-transform: translate(10%, 10%);
  transform: translate(10%, 10%); }

main .diceFace5 .dot1, main .startDiceFace5 .dot1,
main .diceFace5 .dot2,
main .startDiceFace5 .dot2 {
  top: 10%; }

main .diceFace5 .dot1, main .startDiceFace5 .dot1 {
  left: 10%;
  -webkit-transform: translate(-10%, -10%);
  -ms-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%); }


main .diceFace5 .dot2,
main .startDiceFace5 .dot2 {
  right: 10%;
  -webkit-transform: translate(10%, -10%);
  -ms-transform: translate(10%, -10%);
  transform: translate(10%, -10%); }

main .diceFace5 .dot3, main .startDiceFace5 .dot3 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

main .diceFace5 .dot4, main .startDiceFace5 .dot4,
main .diceFace5 .dot5,
main .startDiceFace5 .dot5 {
  bottom: 10%; }

main .diceFace5 .dot4, main .startDiceFace5 .dot4 {
  left: 10%;
  -webkit-transform: translate(-10%, 10%);
  -ms-transform: translate(-10%, 10%);
  transform: translate(-10%, 10%); }


main .diceFace5 .dot5,
main .startDiceFace5 .dot5 {
  right: 10%;
  -webkit-transform: translate(10%, 10%);
  -ms-transform: translate(10%, 10%);
  transform: translate(10%, 10%); }

main .diceFace6 span:nth-child(odd), main .startDiceFace6 span:nth-child(odd) {
  left: 10%; }

main .diceFace6 span:nth-child(even), main .startDiceFace6 span:nth-child(even) {
  right: 10%; }

main .diceFace6 .dot1, main .startDiceFace6 .dot1,
main .diceFace6 .dot2,
main .startDiceFace6 .dot2 {
  top: 10%; }

main .diceFace6 .dot1, main .startDiceFace6 .dot1 {
  -webkit-transform: translate(-10%, -10%);
  -ms-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%); }


main .diceFace6 .dot2,
main .startDiceFace6 .dot2 {
  -webkit-transform: translate(10%, -10%);
  -ms-transform: translate(10%, -10%);
  transform: translate(10%, -10%); }

main .diceFace6 .dot3, main .startDiceFace6 .dot3,
main .diceFace6 .dot4,
main .startDiceFace6 .dot4 {
  top: 50%; }

main .diceFace6 .dot3, main .startDiceFace6 .dot3 {
  -webkit-transform: translate(-10%, -50%);
  -ms-transform: translate(-10%, -50%);
  transform: translate(-10%, -50%); }


main .diceFace6 .dot4,
main .startDiceFace6 .dot4 {
  -webkit-transform: translate(10%, -50%);
  -ms-transform: translate(10%, -50%);
  transform: translate(10%, -50%); }

main .diceFace6 .dot5, main .startDiceFace6 .dot5,
main .diceFace6 .dot6,
main .startDiceFace6 .dot6 {
  top: 90%; }

main .diceFace6 .dot5, main .startDiceFace6 .dot5 {
  -webkit-transform: translate(-10%, -90%);
  -ms-transform: translate(-10%, -90%);
  transform: translate(-10%, -90%); }


main .diceFace6 .dot6,
main .startDiceFace6 .dot6 {
  -webkit-transform: translate(10%, -90%);
  -ms-transform: translate(10%, -90%);
  transform: translate(10%, -90%); }

main .startDiceFace1,
main .startDiceFace2,
main .startDiceFace3,
main .startDiceFace4,
main .startDiceFace5,
main .startDiceFace6 {
  border: 1px solid #070707;
  background: #690500; }
  @media (max-width: 1115px) {
    main .startDiceFace1 .dot1,
    main .startDiceFace1 .dot2,
    main .startDiceFace1 .dot3,
    main .startDiceFace1 .dot4,
    main .startDiceFace1 .dot5,
    main .startDiceFace1 .dot6,
    main .startDiceFace2 .dot1,
    main .startDiceFace2 .dot2,
    main .startDiceFace2 .dot3,
    main .startDiceFace2 .dot4,
    main .startDiceFace2 .dot5,
    main .startDiceFace2 .dot6,
    main .startDiceFace3 .dot1,
    main .startDiceFace3 .dot2,
    main .startDiceFace3 .dot3,
    main .startDiceFace3 .dot4,
    main .startDiceFace3 .dot5,
    main .startDiceFace3 .dot6,
    main .startDiceFace4 .dot1,
    main .startDiceFace4 .dot2,
    main .startDiceFace4 .dot3,
    main .startDiceFace4 .dot4,
    main .startDiceFace4 .dot5,
    main .startDiceFace4 .dot6,
    main .startDiceFace5 .dot1,
    main .startDiceFace5 .dot2,
    main .startDiceFace5 .dot3,
    main .startDiceFace5 .dot4,
    main .startDiceFace5 .dot5,
    main .startDiceFace5 .dot6,
    main .startDiceFace6 .dot1,
    main .startDiceFace6 .dot2,
    main .startDiceFace6 .dot3,
    main .startDiceFace6 .dot4,
    main .startDiceFace6 .dot5,
    main .startDiceFace6 .dot6 {
      width: 20px;
      height: 20px; } }
  @media (max-width: 592px) {
    main .startDiceFace1 .dot1,
    main .startDiceFace1 .dot2,
    main .startDiceFace1 .dot3,
    main .startDiceFace1 .dot4,
    main .startDiceFace1 .dot5,
    main .startDiceFace1 .dot6,
    main .startDiceFace2 .dot1,
    main .startDiceFace2 .dot2,
    main .startDiceFace2 .dot3,
    main .startDiceFace2 .dot4,
    main .startDiceFace2 .dot5,
    main .startDiceFace2 .dot6,
    main .startDiceFace3 .dot1,
    main .startDiceFace3 .dot2,
    main .startDiceFace3 .dot3,
    main .startDiceFace3 .dot4,
    main .startDiceFace3 .dot5,
    main .startDiceFace3 .dot6,
    main .startDiceFace4 .dot1,
    main .startDiceFace4 .dot2,
    main .startDiceFace4 .dot3,
    main .startDiceFace4 .dot4,
    main .startDiceFace4 .dot5,
    main .startDiceFace4 .dot6,
    main .startDiceFace5 .dot1,
    main .startDiceFace5 .dot2,
    main .startDiceFace5 .dot3,
    main .startDiceFace5 .dot4,
    main .startDiceFace5 .dot5,
    main .startDiceFace5 .dot6,
    main .startDiceFace6 .dot1,
    main .startDiceFace6 .dot2,
    main .startDiceFace6 .dot3,
    main .startDiceFace6 .dot4,
    main .startDiceFace6 .dot5,
    main .startDiceFace6 .dot6 {
      width: 15px;
      height: 15px; } }

main .startDiceFace1 {
  -webkit-transform: rotateY(0deg) translateZ(60px);
  transform: rotateY(0deg) translateZ(60px); }
  @media (max-width: 1115px) {
    main .startDiceFace1 {
      -webkit-transform: rotateY(0deg) translateZ(49px);
      transform: rotateY(0deg) translateZ(49px); } }
  @media (max-width: 592px) {
    main .startDiceFace1 {
      -webkit-transform: rotateY(0deg) translateZ(35px);
      transform: rotateY(0deg) translateZ(35px); } }

main .startDiceFace2 {
  -webkit-transform: rotateY(90deg) translateZ(60px);
  transform: rotateY(90deg) translateZ(60px); }
  @media (max-width: 1115px) {
    main .startDiceFace2 {
      -webkit-transform: rotateY(90deg) translateZ(49px);
      transform: rotateY(90deg) translateZ(49px); } }
  @media (max-width: 592px) {
    main .startDiceFace2 {
      -webkit-transform: rotateY(90deg) translateZ(35px);
      transform: rotateY(90deg) translateZ(35px); } }

main .startDiceFace3 {
  -webkit-transform: rotateX(90deg) translateZ(60px);
  transform: rotateX(90deg) translateZ(60px); }
  @media (max-width: 1115px) {
    main .startDiceFace3 {
      -webkit-transform: rotateX(90deg) translateZ(49px);
      transform: rotateX(90deg) translateZ(49px); } }
  @media (max-width: 592px) {
    main .startDiceFace3 {
      -webkit-transform: rotateX(90deg) translateZ(35px);
      transform: rotateX(90deg) translateZ(35px); } }

main .startDiceFace4 {
  -webkit-transform: rotateX(-90deg) translateZ(60px);
  transform: rotateX(-90deg) translateZ(60px); }
  @media (max-width: 1115px) {
    main .startDiceFace4 {
      -webkit-transform: rotateX(-90deg) translateZ(49px);
      transform: rotateX(-90deg) translateZ(49px); } }
  @media (max-width: 592px) {
    main .startDiceFace4 {
      -webkit-transform: rotateX(-90deg) translateZ(35px);
      transform: rotateX(-90deg) translateZ(35px); } }

main .startDiceFace5 {
  -webkit-transform: rotateY(-90deg) translateZ(60px);
  transform: rotateY(-90deg) translateZ(60px); }
  @media (max-width: 1115px) {
    main .startDiceFace5 {
      -webkit-transform: rotateY(-90deg) translateZ(49px);
      transform: rotateY(-90deg) translateZ(49px); } }
  @media (max-width: 592px) {
    main .startDiceFace5 {
      -webkit-transform: rotateY(-90deg) translateZ(35px);
      transform: rotateY(-90deg) translateZ(35px); } }

main .startDiceFace6 {
  -webkit-transform: rotateY(180deg) translateZ(60px);
  transform: rotateY(180deg) translateZ(60px); }
  @media (max-width: 1115px) {
    main .startDiceFace6 {
      -webkit-transform: rotateY(180deg) translateZ(49px);
      transform: rotateY(180deg) translateZ(49px); } }
  @media (max-width: 592px) {
    main .startDiceFace6 {
      -webkit-transform: rotateY(180deg) translateZ(35px);
      transform: rotateY(180deg) translateZ(35px); } }

main .showStartDiceFace1 {
  -webkit-transform: translateZ(-60px) rotateY(0deg);
  transform: translateZ(-60px) rotateY(0deg); }
  @media (max-width: 1115px) {
    main .showStartDiceFace1 {
      -webkit-transform: translateZ(-49px) rotateY(0deg);
      transform: translateZ(-49px) rotateY(0deg); } }
  @media (max-width: 592px) {
    main .showStartDiceFace1 {
      -webkit-transform: translateZ(-35px) rotateY(0deg);
      transform: translateZ(-35px) rotateY(0deg); } }

main .showStartDiceFace2 {
  -webkit-transform: translateZ(-60px) rotateY(-90deg);
  transform: translateZ(-60px) rotateY(-90deg); }
  @media (max-width: 1115px) {
    main .showStartDiceFace2 {
      -webkit-transform: translateZ(-49px) rotateY(-90deg);
      transform: translateZ(-49px) rotateY(-90deg); } }
  @media (max-width: 592px) {
    main .showStartDiceFace2 {
      -webkit-transform: translateZ(-35px) rotateY(-90deg);
      transform: translateZ(-35px) rotateY(-90deg); } }

main .showStartDiceFace3 {
  -webkit-transform: translateZ(-60px) rotateX(-90deg);
  transform: translateZ(-60px) rotateX(-90deg); }
  @media (max-width: 1115px) {
    main .showStartDiceFace3 {
      -webkit-transform: translateZ(-49px) rotateX(-90deg);
      transform: translateZ(-49px) rotateX(-90deg); } }
  @media (max-width: 592px) {
    main .showStartDiceFace3 {
      -webkit-transform: translateZ(-35px) rotateX(-90deg);
      transform: translateZ(-35px) rotateX(-90deg); } }

main .showStartDiceFace4 {
  -webkit-transform: translateZ(-60px) rotateX(90deg);
  transform: translateZ(-60px) rotateX(90deg); }
  @media (max-width: 1115px) {
    main .showStartDiceFace4 {
      -webkit-transform: translateZ(-49px) rotateX(90deg);
      transform: translateZ(-49px) rotateX(90deg); } }
  @media (max-width: 592px) {
    main .showStartDiceFace4 {
      -webkit-transform: translateZ(-35px) rotateX(90deg);
      transform: translateZ(-35px) rotateX(90deg); } }

main .showStartDiceFace5 {
  -webkit-transform: translateZ(-60px) rotateY(90deg);
  transform: translateZ(-60px) rotateY(90deg); }
  @media (max-width: 1115px) {
    main .showStartDiceFace5 {
      -webkit-transform: translateZ(-49px) rotateY(90deg);
      transform: translateZ(-49px) rotateY(90deg); } }
  @media (max-width: 592px) {
    main .showStartDiceFace5 {
      -webkit-transform: translateZ(-35px) rotateY(90deg);
      transform: translateZ(-35px) rotateY(90deg); } }

main .showStartDiceFace6 {
  -webkit-transform: translateZ(-60px) rotateY(-180deg);
  transform: translateZ(-60px) rotateY(-180deg); }
  @media (max-width: 1115px) {
    main .showStartDiceFace6 {
      -webkit-transform: translateZ(-49px) rotateY(-180deg);
      transform: translateZ(-49px) rotateY(-180deg); } }
  @media (max-width: 592px) {
    main .showStartDiceFace6 {
      -webkit-transform: translateZ(-35px) rotateY(-180deg);
      transform: translateZ(-35px) rotateY(-180deg); } }

main .playButtons {
  display: -ms-grid;
  display: grid;
  margin-bottom: 10px;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 70px;
  grid-gap: 1%; }
  @media (max-width: 470px) {
    main .playButtons {
      grid-gap: 5%;
      grid-auto-rows: 60px;
      padding-bottom: 10px; } }
  main .playButtons .start,
  main .playButtons .rollNewDice,
  main .playButtons .stand,
  main .playButtons .bet {
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #171A21;
    color: #FFFFFF;
    border: 1px solid #070707;
    font-size: 1.2rem;
    font-family: 'Wallpoet', cursive;
    -webkit-transition: color 0.3s ease-out, text-shadow 0.5s ease-in, -webkit-box-shadow 0.5s ease-in-out;
    transition: color 0.3s ease-out, text-shadow 0.5s ease-in, -webkit-box-shadow 0.5s ease-in-out;
    -o-transition: color 0.3s ease-out, box-shadow 0.5s ease-in-out, text-shadow 0.5s ease-in;
    transition: color 0.3s ease-out, box-shadow 0.5s ease-in-out, text-shadow 0.5s ease-in;
    transition: color 0.3s ease-out, box-shadow 0.5s ease-in-out, text-shadow 0.5s ease-in, -webkit-box-shadow 0.5s ease-in-out; }
    @media (max-width: 605px) {
      main .playButtons .start,
      main .playButtons .rollNewDice,
      main .playButtons .stand,
      main .playButtons .bet {
        font-size: 1rem; } }
    @media (max-width: 470px) {
      main .playButtons .start,
      main .playButtons .rollNewDice,
      main .playButtons .stand,
      main .playButtons .bet {
        font-size: 0.9rem; } }
    main .playButtons .start:hover, main .playButtons .start:focus,
    main .playButtons .rollNewDice:hover,
    main .playButtons .rollNewDice:focus,
    main .playButtons .stand:hover,
    main .playButtons .stand:focus,
    main .playButtons .bet:hover,
    main .playButtons .bet:focus {
      -webkit-box-shadow: 0 5px 5px #070707;
      box-shadow: 0 5px 5px #070707;
      text-shadow: 2px 2px 1px #070707;
      color: #690500; }
      @media (max-width: 500px) {
        main .playButtons .start:hover, main .playButtons .start:focus,
        main .playButtons .rollNewDice:hover,
        main .playButtons .rollNewDice:focus,
        main .playButtons .stand:hover,
        main .playButtons .stand:focus,
        main .playButtons .bet:hover,
        main .playButtons .bet:focus {
          color: #FFFFFF;
          -webkit-box-shadow: none;
          box-shadow: none;
          text-shadow: none; } }
  main .playButtons .rollNewDice,
  main .playButtons .stand,
  main .playButtons .bet {
    display: none; }
  main .playButtons .start {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
    -webkit-animation: pulse;
    animation: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
    @media (prefers-reduced-motion: reduce) {
      main .playButtons .start {
        -webkit-animation: none;
        animation: none; } }
    @media (max-width: 605px) {
      main .playButtons .start {
        -ms-grid-column: 4;
        -ms-grid-column-span: 6;
        grid-column: 4 / span 6; } }
  main .playButtons .rollNewDice {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / span 3; }
    @media (max-width: 1135px) {
      main .playButtons .rollNewDice {
        -ms-grid-column: 3;
        -ms-grid-column-span: 4;
        grid-column: 3 / span 4; } }
    @media (max-width: 840px) {
      main .playButtons .rollNewDice {
        -ms-grid-column: 2;
        -ms-grid-column-span: 5;
        grid-column: 2 / span 5; } }
    @media (max-width: 680px) {
      main .playButtons .rollNewDice {
        -ms-grid-column: 2;
        -ms-grid-column-span: 6;
        grid-column: 2 / span 6; } }
    @media (max-width: 470px) {
      main .playButtons .rollNewDice {
        -ms-grid-column: 4;
        -ms-grid-column-span: 6;
        grid-column: 4 / span 6; } }
    main .playButtons .rollNewDice:hover {
      cursor: url(../assets/diceCursor.png), auto; }
      @media (max-width: 500px) {
        main .playButtons .rollNewDice:hover {
          cursor: pointer; } }
  main .playButtons .stand {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4; }
    @media (max-width: 840px) {
      main .playButtons .stand {
        -ms-grid-column: 4;
        -ms-grid-column-span: 6;
        grid-column: 4 / span 6; } }
    @media (max-width: 470px) {
      main .playButtons .stand {
        -ms-grid-column: 4;
        -ms-grid-column-span: 6;
        grid-column: 4 / span 6; } }
  main .playButtons .bet {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7 / span 3; }
    @media (max-width: 1135px) {
      main .playButtons .bet {
        -ms-grid-column: 7;
        -ms-grid-column-span: 4;
        grid-column: 7 / span 4; } }
    @media (max-width: 840px) {
      main .playButtons .bet {
        -ms-grid-column: 7;
        -ms-grid-column-span: 5;
        grid-column: 7 / span 5; } }
    @media (max-width: 680px) {
      main .playButtons .bet {
        -ms-grid-column: 8;
        -ms-grid-column-span: 4;
        grid-column: 8 / span 4; } }
    @media (max-width: 470px) {
      main .playButtons .bet {
        -ms-grid-column: 4;
        -ms-grid-column-span: 6;
        grid-column: 4 / span 6; } }
  main .playButtons .showPlayButton {
    display: block; }
  main .playButtons .hideStartButton {
    display: none; }

main .userScoreIndicator p, main .userMoneyIndicator p {
  margin: 0 0 5px;
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
  text-transform: uppercase; }
  @media (max-width: 605px) {
    main .userScoreIndicator p, main .userMoneyIndicator p {
      font-size: 0.9rem; } }

main .userMoneyIndicator {
  display: none; }

main .showUserMoneyIndicator {
  display: block; }

footer {
  border-top: 2px solid #070707;
  background: #49270c;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  @media (max-width: 1000px) {
    footer {
      margin: 148px 0 0;
      padding: 0;
      position: initial; } }
  footer p {
    text-transform: capitalize;
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
    color: #FFFFFF; }
    @media (max-width: 520px) {
      footer p {
        font-size: 0.7rem; } }
